:root {
  --green: rgba(26, 111, 94, 1);
  --white: #ffffff;
  --white-green: rgba(230, 239, 238, 1);
  --light-green: rgba(218, 253, 185, 1);
  --btn-color: rgba(0, 92, 82, 1);
  --text-color: rgba(0, 143, 123, 1);
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  /* outline: 3px solid red !important; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: unset;
}

body {
  background-color: var(--green);
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  z-index: 1;
}

#content-box {
  visibility: none;
}

.main-container-wrapper {
  background-color: var(--green);
}

.main-container-wrapper .logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main-container-wrapper .logo-wrapper a img {
  width: 100%;
  max-width: 200px;
  height: 54px;
}
.main-container-wrapper .logo-wrapper .download-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main-container-wrapper .logo-wrapper .download-btn-wrapper .download-btn {
  background-color: var(--green);
  color: var(--green);
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 14px 20px 14px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
  background-color: var(--white);
}
.main-container-wrapper
  .logo-wrapper
  .download-btn-wrapper
  .download-btn:hover {
  background-color: var(--light-green);
}
.main-container-wrapper
  .logo-wrapper
  .download-btn-wrapper
  .download-btn:active {
  border-color: transparent;
}
.main-container-wrapper .logo-wrapper .download-btn-wrapper .download-btn img {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.main-container-wrapper
  .logo-wrapper
  .download-btn-wrapper
  .download-btn:hover
  img {
  animation: move-down-up 0.4s ease-in-out;
}

.main-container-wrapper .logo-wrapper .blur-btn-wrapper button {
  color: var(--white);
  cursor: unset;
}
.main-container-wrapper .logo-wrapper .blur-btn-wrapper button:active {
  border-color: transparent;
}
@keyframes move-down-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.desc h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--light-green);
  width: 100%;
  max-width: 851px;
  text-transform: uppercase;
}

.desc .content-description {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 50px 0;
}
.desc .content-description .title {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.desc .percent-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.desc .percent-wrapper .item .percent-header {
  font-size: 14px;
  font-weight: 700;
  color: var(--light-green);
  margin: 0;
}
.desc .percent-wrapper .item .percent-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-green);
  margin-bottom: 8px;
}
.desc .percent-wrapper .item .percent {
  font-size: 56px;
  font-weight: 700;
  color: var(--light-green);
  margin: 0;
}
.content-wrapper .container {
  padding: 50px 50px 20px;
}
.desc .content-description .btn {
  display: none;
  color: var(--green);
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 14px 20px 14px 24px;
  gap: 16px;
  text-transform: uppercase;
  background-color: var(--white);
}
.copirate-wrapper .container {
  padding: 0 50px;
}
.copyrite {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.desc .content-description .btn:active {
  border-color: transparent;
}
.desc .content-description .btn:hover {
  background-color: var(--light-green);
}
.desc .content-description .btn:hover img {
  animation: move-down-up 0.4s ease-in-out;
}

.banner-wrapper {
  position: absolute;
  right: 0px;
  /* top: 27%; */
  bottom: 0;
}

.banner-wrapper img {
  width: 100%;
  max-width: 655px;
}

.popup-modal {
  position: fixed;
  width: 100%;
  max-width: 510px;
  background-color: var(--white);
  padding: 25px;
  border-radius: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 106;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s;
}
.popup-modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.popup-modal .popup-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.popup-modal .popup-modal-header h1 {
  font-size: clamp(17px, 1.5vw, 24px);
  font-weight: 700;
  color: var(--green);
}
.popup-modal .popup-modal-header button {
  padding: 0 0 0 10px;
}
.popup-modal .popup-modal-header button:active {
  border-color: transparent;
}
.popup-modal .popup-modal-header button i {
  color: var(--green);
}
.popup-modal .popup-modal-body p {
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 400;
  color: var(--green);
  margin: 1rem 0;
}
.popup-modal .popup-modal-body .form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.popup-modal .popup-modal-body .form-wrapper label {
  font-size: 12px;
  font-weight: 500;
  color: var(--green);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.popup-modal .popup-modal-body .form-wrapper input {
  border-radius: 16px;
  height: 56px;
  border-color: var(--green);
  font-size: 16px;
}
.popup-modal .popup-modal-body .form-wrapper input:focus {
  box-shadow: none;
}
.popup-modal .popup-modal-body .form-wrapper .download-btn {
  background-color: var(--green);
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 17px 20px 17px 24px;
  text-transform: uppercase;
  width: 100%;
  margin: 30px 0 0;
}
.popup-modal .popup-modal-body .form-wrapper .download-btn:hover {
  background-color: var(--text-color);
}
.popup-modal .popup-modal-body .form-wrapper .download-btn img {
  filter: invert(1) brightness(1000%);
}
.popup-modal .popup-modal-body .form-wrapper .download-btn:hover img {
  animation: move-down-up 0.4s ease-in-out;
}
.popup-modal .popup-modal-body .form-wrapper .mail-btn {
  background-color: var(--light-green);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  color: var(--green);
  padding: 17px 20px 17px 24px;
  border-radius: 100px;
  cursor: unset;
}
.popup-modal .popup-modal-body .form-wrapper .mail-btn:active {
  border-color: transparent;
}
.form-group .label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group .label-wrapper #error-message {
  display: none;
  text-transform: uppercase;
  margin: 0 0 8px;
  color: var(--red);
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}
.input-password.error-border {
  border-color: var(--red);
}
.border-red {
  border-color: var(--red) !important;
}
.contact-us-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.contact-us-wrapper .line {
  border-bottom: 1px solid var(--white-green);
  position: absolute;
  top: 50%;
  width: 100%;
}
.contact-us-wrapper p {
  background: #fff;
  text-align: center;
  z-index: 1;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s;
  /* backdrop-filter: blur(8px); */
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.form {
  width: 100%;
}
.main-password {
  position: relative;
}
.icon-view {
  position: absolute;
  right: 12px;
  top: 16px;
}
.icon-view i {
  color: var(--white-green);
}
.hidden {
  display: none;
}

/* .fade-in-observer {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
} */
.content-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content-box .copyriting {
  color: var(--white);
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}

/* responsive media */
@media (max-width: 1700px) {
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper
    .content-left-title {
    font-size: 18px;
  }
}

@media (max-width: 1540px) {
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-header {
    font-size: 32px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper
    .content-left-title {
    font-size: 17px;
  }
}

@media (max-width: 1440px) {
  .desc .percent-wrapper .item .percent {
    font-size: 40px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-info-wrapper
    .item:nth-child(2) {
    padding-left: 10px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper {
    height: 300px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-header {
    font-size: 32px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper
    .content-left-title {
    font-size: 16px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-info-wrapper
    .item
    h2 {
    font-size: 32px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-info-wrapper
    .item
    p {
    font-size: 15px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-partners-wrapper
    .items-wrapper
    .item
    img {
    width: 77px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-partners-wrapper {
    gap: 10px;
    padding-top: 14px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-info-wrapper {
    gap: 10px;
    padding-bottom: 14px;
  }
  .main-container-wrapper .content-wrapper .content-right-header {
    gap: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .desc {
    margin-top: 40px;
  }
  .desc h1 {
    font-size: 48px;
  }
  .desc .content-description .title {
    font-size: 16px;
  }
  .main-container-wrapper .content-wrapper {
    flex-direction: column;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper {
    height: auto;
  }
  .main-container-wrapper .content-wrapper .content-left-wrapper {
    width: 100%;
  }
  .main-container-wrapper .content-wrapper .content-right-wrapper {
    width: 100%;
  }
  .content-box .copyriting {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 16px !important;
  }
  .copyrite {
    text-align: center;
  }
  .desc {
    margin-top: 15px;
  }
  .desc h1 {
    font-size: 28px;
  }
  .desc .content-description {
    margin: 24px 0;
  }
  .desc .content-description .title {
    font-size: 15px;
  }
  .desc .content-description .btn {
    display: block;
    margin: 16px;
  }
  .desc .percent-wrapper {
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
  .desc .percent-wrapper .item {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-green);
  }
  .desc .percent-wrapper .item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
  }
  .desc .percent-wrapper .item .percent {
    font-size: 32px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-header {
    font-size: 23px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper
    .content-left-title {
    font-size: 16px;
  }
  .main-container-wrapper .content-wrapper .content-left-wrapper {
    padding: 32px;
  }
  .main-container-wrapper .logo-wrapper .download-btn-wrapper .download-btn {
    display: none;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .mobile-download-btn-wrapper {
    display: block;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper {
    margin-bottom: 20px;
    height: 305px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-info-wrapper {
    display: none;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .content-right-partners-wrapper {
    display: none;
  }
  .main-container-wrapper .content-wrapper .content-right-header {
    display: none;
  }
  .main-container-wrapper
    .content-wrapper
    .content-right-wrapper
    .mobile-accordion-wrapper {
    display: block;
    margin-top: 15px;
  }
  .popup-modal {
    max-width: 410px;
  }
  .main-container-wrapper .logo-wrapper a img {
    height: 40px;
  }
  .main-container-wrapper
    .logo-wrapper
    .download-btn-wrapper
    .blur-btn-wrapper
    .mail-btn {
    padding: 8px 20px 8px 24px;
  }
  .main-container-wrapper .content-wrapper {
    gap: 14px;
  }
}
@media (max-width: 450px) {
  .container {
    gap: 24px;
  }
  .popup-modal {
    max-width: 330px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-description-wrapper {
    height: 260px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 16px;
    justify-content: start;
    gap: 24px;
  }
  .main-container-wrapper .content-wrapper .content-left-wrapper {
    padding: 20px;
  }
  .main-container-wrapper
    .content-wrapper
    .content-left-wrapper
    .content-left-header {
    margin-bottom: 20px;
  }
}
